/** ATREUS styles 

	@author: http://atreus.ftw.at
	@year:	2014

**/

/* Main layout */
body,html {
	background: #1e87b4;
	color: #fff;
	font-family: Arial;
	font-size: 14px;
	font-style: normal;
	width: 100%;
	height: 100%;
}

#main_box {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background: #1e87b4;
	position: relative;
}

#imgarea {
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#canvas {
	background: #1e87b4;
}

.remoteControl {
	width: 90%;
	height: inherit;
	float: right;
	position: relative;
}

.logo_area {
	width: 10%;
	bottom: 0px;
	position: absolute;
	max-width: 115px;
}

.logo_area #logo {
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	color: transparent;
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.logo_area #logo .innerLogo {
	padding-top: 74%; /* height/width of image 104x77 */
	display: block;
	height: 0;
}

.logo_area #logo {
	background-image: url("../images/atreusLogo_white.png");
}

/* Components */
input {
	border: 1px solid #fff;
	color: #666;
	padding: 3px;
	width: 80%;
}

a {
	color: #1e87b4;
	text-decoration: none;
}

a:visited {
	
}

a:hover,a:focus,a:active {
	text-decoration: underline;
}

img {
	max-width: 100%;
}

/** TOUCHPAD **/

/** Landscape or desktop mode**/
.toucharea {
	width: 90%;
	height: 100%;
	position: relative;
	float: left;
}

.toucharea #touchpad {
	background-image: linear-gradient(to bottom, #e9f3f8 0%, #a5cfe1 100%);
	width: 90%;
	height: 95%;
	border-radius: 6%;
	margin-top: 1%;
}

.toucharea #touchButton_left {
	background-image: linear-gradient(to bottom, #e9f3f8 0%, #a9d1e2 100%);
	width: 9%;
	height: 45%;
	border-radius: 13%;
	margin-top: 2%;
	position: relative;
	float: right;
	bottom: 100%;
}

.toucharea #touchButton_right {
	background-image: linear-gradient(to bottom, #a7d0e2 0%, #83bdd6 100%);
	width: 9%;
	height: 45%;
	border-radius: 13%;
	margin-bottom: 1%;
	position: absolute;
	float: right;
	bottom: 0px;
	right: 0px;
}

.form {
	width: 100%;
}

/** Portrait mode**/
@media only screen and (max-width:481px) , only all and
	(max-device-width:481px) {
	.toucharea #touchpad {
		width: 95%;
		height: 87%;
		margin-left: 1%;
	}
	.toucharea #touchButton_left {
		position: absolute;
		float: left;
		bottom: 0px;
		width: 45%;
		height: 9%;
		margin-left: 2%;
		margin-bottom: 1%;
	}
	.toucharea #touchButton_right {
		position: absolute;
		float: right;
		bottom: 0px;
		right: 0px;
		width: 45%;
		height: 9%;
		margin-right: 1%;
	}
}

/** SMARTLENS**/
#vidContainer {
	
}

#vid {
	display: none;
	margin: auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#vidTxt {
	color: #000;
	display: none;
	position: relative;
}

/** GAMEPAD **/
.cross_area {
	width: 40%;
	height: 100%;
	position: relative;
	float: left;
}

.cross_area #cross_up {
	width: 40%;
	height: 30%;
	position: absolute;
	left: 31%;
	top: 5%;
}

.cross_area #cross_down {
	width: 40%;
	height: 30%;
	position: absolute;
	left: 31%;
	bottom: 5%;
}

.cross_area #cross_left {
	width: 30%;
	height: 33%;
	position: absolute;
	bottom: 33%;
}

.cross_area #cross_right {
	width: 30%;
	height: 33%;
	position: absolute;
	bottom: 33%;
	right: 0px;
}

.cross_area #cross {
	background-image: url("../images/buttonCross.png");
	height: 100%;
	width: 100%;
	display: inline-block;
	vertical-align: middle;
	color: transparent;
	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.button_area {
	width: 60%;
	height: 100%;
	position: relative;
	float: right;
}

.button_area  #buttonSelect {
	width: 25%;
	top: 80%;
	position: absolute;
}

.button_area  #buttonB {
	width: 25%;
	top: 30%;
	left: 25%;
	position: absolute;
}

.button_area  #buttonA {
	width: 25%;
	right: 5%;
	top: 5%;
	position: absolute;
}

.button_area  #buttonStart {
	width: 25%;
	top: 80%;
	left: 40%;
	position: absolute;
}

/** DRIVING WHEEL **/
#wheel_area {
	background: url("../images/wheel.png") no-repeat;
	height: 100%;
	background-size: 50%;
	background-position: 50% 50%;
}